<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>纱线商品详情</title>
	<link rel="icon" href="images/icon/favicon.ico">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbuild -->

    <!-- build:css styles/yarn_detail.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/index.css">
	<link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/login.css">
	<link rel="stylesheet" href="styles/sxxq.css">
    <!-- endbuild -->

	  <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

</head>
<body>
	   	<!-- <div class="container"> -->
      <div id="lefangtex_top"></div>
      <div id="lefangtex_nav"></div>
      <div id="lefangtex_nav_suspend"></div>

	  <div class="conent clearfix">
		  <div class="dqwz"></div>
		  <div class="cont_left"></div>
		  <div class="cont_right">
			  <div class="sj_info company_info"></div>
			  <div class="sj_info company_pro"></div>
		  </div>
	  </div>
        <div id="lefangtex_login"></div>
      <div id="sxxq_nr">

	  </div>
      	<div class="foot_bg">
            <div class="foot">
                <ul class="ft_list">
                    <li><a href="index.html">乐纺官网</a></li>
                    <li><a href="fzzx.html">关于乐纺</a></li>
                    <li><a href="fzzx.html">法律政策</a></li>
                </ul>
                <ul class="ft_list">
                    <li><a href="fzzx.html">联系我们</a></li>
                    <li><a href="javascript:;">在线客服(每日8：30-20：00)</a></li>
                    <li><a href="fzzx.html">加入我们</a></li>
                </ul>
                <ul class="ft_list">
                    <li><a href="javascript:;">微信公众号</a></li>
                    <li><a href="javascript:;" class="erwm">
                        <img src="./images/pic/QR.png" alt="">
                        </a></li>

                </ul>
            </div>
        </div>
        <div class="copyright_bg">
            <div class="copyright">
                <span>Copyright©2015-2017lefangtex.cn All Rights Reserved </span>
                <span> 苏ICP备16243357号-1</span>
                <span class="lefangCount">江苏中添纺织科技有限公司版权所有</span>
                <script>
                    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1262904458'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1262904458%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
            </div>
        </div>
    <!-- </div> -->



    <!-- top nav start -->
        <script type="milkt/template" id="lefang_top">
            <!-- top nav start -->
                <div class="top_nav">
                    <div class="top_nav_container clearfix">
                        <div class="top_nav_left right">
                            <!--<a href="javascript:;" class="top_nav_mobile">
                                <i><img src="images/icon/ico_mobile.png" alt=""></i>
                                手机端
                            </a>-->
                            <a href="javascript:;">
                                <i><img src="images/icon/ico_phone.png" alt=""></i>
                                <span>客服热线:</span>
                                0510-83560008
                                <span>( 8:30-20:00 )</span>
                            </a>
                        </div>
                        <div class="top_nav_right left">
                            <a href="javascript:;" class="hyuser">HI , 欢迎来到乐纺 !</a>
                            <a href="login.html" class="top_nav_login">登录</a>
                            <a href="register.html" class="top_nav_regist">注册</a>
                        </div>
                    </div>
                </div>
            <!-- top nav end -->
        </script>
    <!-- top nav end -->


    <!--main nav start-->
        <script type="milkt/template" id="lefang_nav">
            <!--main nav start-->
                <div class="main_nav">
                    <div class="main_nav_container clearfix">
                        <div class="main_nav_logo left">
                            <a href="index.html">
                                <img src="images/icon/logo.png" alt="">
                            </a>
                        </div>
                        <div class="main_nav_list left">
                            <ul class="clearfix">
                                <li class="active">
                                    <a href="index.html">首页</a>
                                </li>
                            </ul>
                        </div>
                        <div class="main_nav_shopcart right">
                            <a href="shopcart.html">
                                <img src="images/icon/ico_Buy.png" alt="">
                                <span>0</span>
                            </a>
                        </div>
                    </div>
                </div>
            <!--main nav end-->
        </script>
    <!--main nav end-->

    <!--main nav_suspend start-->
           <script type="milkt/template" id="lefang_nav_suspend">
            <!--main nav suspend start-->
                <div class="main_nav_suspend">
                    <div class="main_nav_container clearfix">
                        <div class="main_nav_logo left">
                            <a href="index.html">
                                <img src="images/icon/logo.png" alt="">
                            </a>
                        </div>
                        <div class="main_nav_list left">
                            <ul class="clearfix">
                                <li >
                                    <a href="index.html">首页</a>
                                </li>
                            </ul>
                        </div>
                        <div class="main_nav_shopcart right">
                            <a href="shopcart.html">
                                <img src="images/icon/ico_Buy.png" alt="">
                                <span>0</span>
                            </a>
                        </div>
                    </div>
                </div>
            <!--main nav suspend end-->
        </script>
    <!--main nav end-->

    <!-- main yarn_detail start -->
     	<script type="milkt/template" id="sxxq_txt">
			<span class="icon_sy"><img src="./images/icon/icoc_sy.png" alt=""></span>
			<span>当前位置：</span>
			<a href="index.html"> 首页&nbsp </a>
			<span>>&nbsp </span>
			<a href="yarn_detail.html" class="active"> 纱线商品详情 </a>
		</script>
		<script type="milkt/template" id="lefang_cont_left">
			<div class="cont_left ">
				<div class="fdj">
					<div id="magnifier">
						<div class="small-box">
							<img src="<%=main_pic%>" alt="#" style="width:400px; height:400px">
							<span class="hover"></span>
						</div>
						<div class="thumbnail-box clearfix">
							<a href="javascript:;" class="btn btn-prev"></a>
							<a href="javascript:;" class="btn btn-next"></a>
							<div class="list">
								<ul class="wrapper">
									<li class="item item-cur" data-src="images/pic/small_1.jpg">
										<img src="images/pic/yarn_detail_s1.jpg" alt="#">
									</li>
									<li class="item" data-src="images/pic/small_2.jpg">
										<img src="images/pic/yarn_detail_s1.jpg" alt="#">
									</li>
									<li class="item" data-src="images/pic/small_3.jpg">
										<img src="images/pic/yarn_detail_s2.jpg" alt="#">
									</li>
									<li class="item" data-src="images/pic/small_2.jpg">
										<img src="images/pic/yarn_detail_s3.jpg" alt="#">

									<li class="item" data-src="images/pic/small_4.jpg">
										<img src="images/pic/yarn_detail_s3.jpg" alt="#">
									</li>
									<li class="item" data-src="images/pic/small_3.jpg">
										<img src="images/pic/thumbnail_3.jpg" alt="#">
									<li class="item" data-src="images/pic/small_5.jpg">
										<img src="images/pic/yarn_detail_s3.jpg" alt="#">
									</li>
									<li class="item" data-src="images/pic/small_6.jpg">
										<img src="images/pic/yarn_detail_s5.jpg" alt="#">
									</li>
								</ul>
							</div>
						</div>
						<div class="big-box">
							<img src="<%=main_pic%>" style="width:750px; height:750px"; alt="#">
						</div>
					</div>
				</div>
				<div class="fdj_attr clearfix">
			<div class="des clearfix">
						<div class="des_name"><%= product_name%></div>
							<p>
								产品价格：
								<span class="des_price"><%=refer_price%>元</span>
							</p>
						</div>
                        <div class="des_name"></div>
                            <span>批次编号</span>
                            <span>zt0003</span>
                            <span>价格</span>
                            <span>10元</span>
                            <span>样品价格：</span>
                            <span>20元</span>
                        </div>
						<ul class="pro_attr clearfix">
							<h2 class="pro_bt">产品基本属性</h2>
							<li>
								<span>
									商品批次编号：
								</span>
								<span class="pro_des"><%=batch_no%></span>
							</li>
							<li>
								<span class="pro_name">
									原料：
								</span>
								<span class="pro_des">
									<%=AttrList[0].attr_value%>
								</span>
							</li>
							<li>
								<span class="pro_name">
									支数：
								</span>
								<span class="pro_des"><%=AttrList[1].attr_value%></span>
							</li>
							<li>
								<span class="pro_name">
									工艺：
								</span>
								<span class="pro_des"><%=AttrList[2].attr_value%></span>
							</li>
							<li>
								<span class="pro_name">
									用途：
								</span>
								<span class="pro_des"><%=AttrList[3].attr_value%></span>
							</li>
							<li>
								<span class="pro_name" 	style="padding-right: 6px;">
									样品价格：
								</span>
								<span class="pro_des">元</span>
							</li>
							<div class="num_box clearfix">
								<span style="color:#969696">数量:</span>
								<input class="text buy_num" " id="buy_num" value="1" >
								<div class="num_jia">
									<img src="./images/icon/+.jpg" alt="" class="jia">
									<img src="./images/icon/_.jpg" alt="" class="jian">
								</div>
								<span><%=unit%></span>
							</div>
							<p class="btn">
								<a href="javascript:;" class="btn_yb" id="btn_yb">购买样品</a>
								<a href="javascript:;" class="btn_buy" >立即购买</a>
								<a href="javascript:;" class="car "  id="goto_carty">加入购物车</a>
							</p>
                            <div class="success_cart">
                                <b class="succ-icon"></b>
                                <h3 class="succ_tit">商品已成功加入购物车！</h3>
                            </div>
						</ul>
					</div>
				<ul class="base_attr" style="clear:both;">
					<h2 class="bas_bt">产品基础属性</h2>
				</ul>
				<div class="canping" style="clear:both;">
					<div class="cp_nav">
						<a href="#">产品信息</a>
						<a href="#">样品质检报告</a>
					</div>
					<div class="cp_nr">
						<div class="cp_txt">
                              <%=product_details%>
                        </div>
					</div>
				</div>
			</div>
		</script>
        <!--login start-->
        <script type="milkt/template" id="lefang_login">
            <!--login start-->
                <div class="detail_zz clearfix"></div>
                <div class="yarn_login ">
                    <div class="login_lg deta_login" style="margin:0 auto">
                        <a class="yarn_close" title="关闭">X</a>
                        <div class="login_choose">
                            <a href="javascript:;" class="active"><span>账号登录</span><i></i></a>
                            <a href="javascript:;"><span>手机号登录</span><i></i></a>
                        </div>
                        <div class="login_list">
                            <ul>
                                <li>
                                    <input type="text" id="username" placeholder="乐纺账号" value="" />
                                </li>
                                <li>
                                    <input type="password" id="pwd" placeholder="登录密码" value="" />
                                </li>
                                <li class="clearfix">
                                    <span class="left">
                                        <!--<input type="checkbox" checked="checked">-->
                                        <a href="javascript:;">
                                            <img src="images/pic/check_on.png" alt="">
                                        </a>
                                        7天内自动登录
                                    </span>
                                    <span class="right">
                                        <a href="resetpwd.html">忘记密码</a>
                                    </span>
                                </li>
                                <li>
                                    <a href="javascript:;" class="login_current">登&nbsp;&nbsp; 录</a>
                                </li>
                                <li>
                                    <a href="register.html">新用户注册</a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <input type="text" class="getMobile" placeholder="手机号码" value="" />
                                </li>
                                <li class="login_msg_mobile">
                                    <input type="text" class="getMCode" placeholder="验证码" value="" />
                                    <span class="getCode">获取短信验证码</span>
                                </li>
                                <li class="clearfix">
                                    <span class="left">
                                        <!--<input type="checkbox" checked="checked">-->
                                        <a href="javascript:;">
                                            <img src="images/pic/check_on.png" alt="">
                                        </a>
                                        7天内自动登录
                                    </span>
                                    <span class="right">
                                        <a href="resetpwd.html">忘记密码</a>
                                    </span>
                                </li>
                                <li>
                                    <a href="javascript:;" class="mobileL">登&nbsp;&nbsp; 录</a>
                                </li>
                                <li>
                                    <a href="register.html">新用户注册</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            <!--login end-->
        </script>
    <!--login end-->

		<script type="milkt/template" id="lefang_sj_info">
			<p class="sj_bt">—— 商家基本信息 ——</p>
			<!--<ul class="sj_qyinfo">
				<li><a href="#"><%=company_name%></a></li>
				<li class="bord"><a href="#"><%=legalperson%></a></li>
				<li><a href="#">联系方式：<%=telphone%></a></li>
				<li><a href="#">企业性质：<%= enterprise_nature%></a></li>
				<li><a href="#">所在地区：<%= area%></a></li>
			</ul>-->
		</script>


<!--         <script type="milkt/template" id="lefang_company_pro">
    <p class="sj_bt">—— 商家产品 ——</p>
    <ul class="sj_list" >
 
    </ul>
</script> -->
    <!--main yarn_detail  end -->

    <!-- foot start-->
        <script type="milkt/template" id="lefang_foot">
            <!-- foot start-->
                <div class="foot_bg">
                    <div class="foot">
                        <ul class="ft_list">
                            <li><a href="#">乐纺官网</a></li>
                            <li><a href="#">关于乐纺</a></li>
                            <li><a href="#">法律政策</a></li>
                        </ul>
                        <ul class="ft_list">
                            <li><a href="#">联系我们</a></li>
                            <li><a href="#">在线客服(每日8：30-20：00)</a></li>
                            <li><a href="#">加入我们</a></li>
                        </ul>
                        <ul class="ft_list">
                            <li><a href="#">微信公众号</a></li>
                            <li><a href="#" class="erwm"></a></li>
                            <!-- <img src="./images/QR.png" alt=""> -->
                        </ul>
                    </div>
                </div>
                <div class="copyright_bg">
                    <div class="copyright">
                        <span>Copyright©2015-2017lefangtex.cn All Rights Reserved </span>
                        <span> 苏ICP备16243357号-1</span>
                        <span>江苏中添纺织科技有限公司版权所有</span>
                    </div>
                </div>
            <!-- foot end-->
        </script>
    <!-- foot end-->







    <!-- build:js scripts/vendor.js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <script src="/bower_components/lodash/lodash.js"></script>
    <script src="/bower_components/blueimp-md5/js/md5.min.js"></script>
    <script src="/bower_components/store/dist/store.everything.min.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/yarn_detail.js -->
    <script src="scripts/api/homepagePI.js"></script>
    <script src="scripts/api/productDes.js"></script>
    <script src="scripts/api/productCInfo.js"></script>
    <script src="scripts/api/productCGoods.js"></script>
    <script src="scripts/api/shopCartAdd.js"></script>
    <script src="scripts/api/shopCart.js"></script>
     <script src="scripts/api/userdologin.js"></script>
    <script src="scripts/api/userloginMobile.js"></script>
    <script src="scripts/api/smssend.js"></script>
    <script src="scripts/api/shopcart_nums.js"></script>
    <script src="scripts/api/enterpriseQPrise.js"></script>
    <script src="scripts/api/homepageYarn.js"></script>
    <script src="scripts/api/feedbackfrom.js"></script>
    <script src="scripts/api/productCGmain.js"></script>
    

    <!--<script src="scripts/api/productCGory.js"></script>-->


    <script src="scripts/util.js"></script>
    <script src="scripts/index.js"></script>
    <script src="scripts/main.js"></script>
     <script src="scripts/magnifier.js"></script> 
    <script src="scripts/sxxq.js"></script>
    <script src="scripts/login.js"></script>



    <script src="scripts/product.js"></script>
	<!-- endbuild -->
</body>
</html>