.make{
  min-height: 515px;
}
.make_top{
  font-size: 30px;
  text-align: center;
  margin:10px auto;

}
.make p{
  border-bottom: 2px solid #9d9d9d;
}
.red{
  color: #e4393c;
}
.box{
  width: 700px;
  margin:0 auto;
}
.reset{
  width:560px;
  margin:10px auto;
  margin-left: 150px;

}
.reset li{
  font-size: 16px;
  padding-top:15px ;

}
.reset li:first-child,.reset li:nth-of-type(2){
  padding-left: 30px;
}
/**************/
.reset li input{
  width: 280px;
  height: 40px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding-left: 12px;
  box-sizing: border-box;
}
.success{
  width: 500px;
  text-align: center;
  color: #fff;
  margin:20px auto;
}

.success input{
  width: 180px;
  height: 40px;
  border-radius: 8px;
  background: #FC5F1A;
  color: #fff;
  cursor: pointer;
  border: none;
  margin: 15px auto;
  font-size: 16px;
}
.tip{
  color: red;
}
